body {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    color: black;
    margin: 0;
    /*background-image: url("https://pixabay.com/get/g90798a56016cbd20dfcbf513903e761c1b6167f3790e4848b6d8ba3ec0bd9becd29368a77d57ee33d43ace7146bb0623_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
}

body {
    padding: 5%;
}

p::before, p::after {
    content: " ";
    padding: 15px;
    background-image: url('/Einheit\ 04\ Kapitel\ 08/img/banana.png');
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position: left center;
}

th,
td {
    border: 1px solid rgb(121, 114, 114);
    padding: 0.5rem;
}

table {
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    padding: 2rem;
    margin: 0%;
}

.flex {
    width: 100%;
    display: flex;
    padding: 10px;
}


#dick:hover {
    font-weight: bold;
}

nav {
    height: auto;
    background-color: rgb(233, 231, 231);
   background: url(https://pixabay.com/get/g7164cbfdaa9b3bb539d9d087bd4e908efbb5fa17af8f28ced9b8e695e8cb6724d382b60feace37f295bfa329efd60406_1280.jpg);
}

nav ul {
    margin: 0;
    display: flex;
    list-style: none;
}

nav a {
    color: rgb(167, 167, 167);
    text-decoration: none;
    display: block;
    padding: 0.8rem;
}

nav a.aktuell {
    font-weight: bold;
}

article {
    width: 80%;
    margin: 0.2rem
}

footer {
    background-color: darkgray;
    color: black;
    padding: 2rem;
    margin-top: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 530px) {
    main {
        display: block;
    }

    article {
        width: auto;
    }

    .flex {
        flex-basis: 50%;
    }

}