.bildlinks {
    float: left;
    margin-right: 0.5rem;
    shape-margin: 0.5rem;
    shape-outside: url(bilder/among.png);
    shape-outside: ellipse();
}

.umfl {
    float: left;
    margin-right: 0.5rem;
    
    shape-margin: 0.5rem;   
    shape-outside: ellipse();
}

.cl {
    clear: both;
}